body
{
  margin: 0 auto;
  background-color: white;
  font-family: "Prompt", sans-serif;
  font-style: normal;
  color: black;
}

.TOP
{
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  font-size: 18px;
  font-weight: 450;
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.MENU
{
  display: flex;
  gap: 20px;
}

.nav
{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.Box
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.BoxA
{
  display: flex;
  font-size: 50px;
}

.BoxB
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Boxb1 a
{
  text-decoration: none;
  color: black;
}


